
:root {
  --main-aqua: #3fbcc3;
  --support-dk-orange: #f26a42;
  --support-lt-peach: #fbb474;
  --section-padding: 3em 7%;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 14px;

}
.page-container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}

h1, h2 {
  font-family: "roboto-slab", Baskerville, serif;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
h1 {
  font-size: 3.052em;
  color: var(--support-dk-orange);
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 2.441em;
  margin-bottom: 2.5rem;
}

h3, h4{
  font-family: "khula", verdana, sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 1.4;
  /*margin-bottom: 1em;*/
}
h3 {
  font-size: 1.563em;
  text-transform: uppercase;
  color: var(--support-dk-orange);
  /*margin: 2rem 0;*/
}
h4 {
  font-size: 1.563em;
}
p {
  font-size: 1em;
}
p, .newsletter label {
  font-family: "khula", verdana, sans-serif;
  font-weight: 400;
  color: var(--support-dk-orange);
  line-height: 1.2;
}
.u-large {
  font-size: 1.25em;
}
.u-small {
  font-size: .8em;
}
.med-screen-text {
  display: none;
}
.lg-screen-text {
  display: none;
}
.sm-screen-text {
  display: block;
}
/* section settings */

header, .sign-up, .products-services, .social-proof, .contact {
  padding: var(--section-padding);
  font-size: 1rem;
}
header, .contact {
  background-image: url("../images/bg_herringbone_tile.jpg");
  background-repeat: repeat;
}



/*main header styles*/
header {
  margin: 0 auto;
  text-align: center;
}
header img {
  width: 75%;
  padding-bottom: 2.5em;
}
.bold {
  font-weight: 700;
}
.no-break {
  white-space: nowrap;
}
header p {
  margin-bottom: 1em;
}
header p:nth-last-of-type(1) {
  margin: 0;
}
/*Brand Images Styles*/
.brand-images {
  font-size: 1rem;
}
.brand-images img {
  width: 100%;
  margin: 1.75em 0;
}
.b-img-2, .b-img-3, .b-img-4 {
  display: none;
}
/*Sign Up Section Styles*/

.sign-up {
  background-color: var(--main-aqua);
  color: #fff;
}
.cta-wrapper {
  margin: 0 auto;
  font-size: .8rem;
}
input {
  max-height: 5em;
}
.input-field {
padding: .35em 0;
}
#input-1 {
  grid-area: firstname;
}
#input-2 {
  grid-area: lastname;
}
#input-3 {
  grid-area: email;
}
#submit {
  grid-area: submit;
  align-self: center;
}
#notice {
  grid-area: notice;
}
form {
  margin: 2em auto 0;
  display: grid;
  grid-template-areas:
    "firstname"
    "lastname"
    "email"
    "submit"
    "notice";
    justify-content: center;
    max-width: 500px;
}
.newsletter label {
  font-weight: 600;
  color: #cff0f2;
  margin-top: 5em;
}

input[type="text"] {
  box-sizing: border-box;
  font-size: 1.25rem;
  background-color: #fff;
  width: 100%;
  padding: .2em 5%;
  margin-bottom: .75em;
}

input[type="submit"]{
  width: 100%;
  max-width: 90vw;
  border-radius: 5px;
  background-color: var(--support-lt-peach);
  box-shadow: inset 0 0 36px #fdd4b0, 0 8px 6px -6px #888888;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1.5em auto;
  padding: .5em;
  font-size: 1.2em;
}
.sign-up h4 {
      margin-top: -1em;
}
.sign-up p {
  color: #fff;
  text-align: center;
  line-height: 1.5rem;
}

/*Products and Services Styles*/
.menu, .products, .community {
  height: auto;
  margin: 0 auto 1.5em;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.menu {
  grid-area: menu;
}
.products {
  grid-area: products;
}
.community {
  grid-area: community;
}
.products-services{
  margin: 0 auto;
  display: grid;
  grid-template-areas: "menu" "products" "community";
  justify-content: center;
}
.products-services img {
  display: block;
  height: 10em;
  padding: 2em 0 .5em;
  margin: 0 auto;
}
.products-services p {
  color: #707070;
  text-align: center;
  line-height: 1.5;
}

/*Social Proof Styles*/
.social-proof {
  background-color: var(--support-lt-peach);
  color: #fff;
  padding-bottom: 2em;
}
.social-examples {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.person-1, .person-2 {
  background-color: #fdddc0;
  box-shadow: inset 0 0 15px #47776b33;
}
.person-2 {
  display: none;
}
/*display:block; on tablet and above*/

.people {
  overflow: hidden;
  max-width: 480px;
}
.people img {
  width: 50%;
  float: left;
  shape-outside: polygon(0% 0%, 100% 0%, 0% 100%);
  margin: 0 2em 0 0;
  display: none;
}

.quote-image::after {
  content: "";
  clear: left;
}
.quote-text {
padding: 6%;
text-align: left;
}
.quote-text p, .quote-text h4 {
  color: #707070;
}
.quote-text p {
  line-height: 1.4;
}


/*Contact Styles*/
.contact {
  padding-bottom: 2em;
  color: var(--main-aqua);
}
.contact a, .contact p {
  color: var(--main-aqua);
}
.contact-wrapper {
display: flex;
flex-direction: column;
align-items: center;
}
.emp-text {
  font-weight: 700;
}
.address-info {
  display: grid;
  grid-template-columns: minmax(75px, 1fr) 5fr;
  grid-column-gap: 5%;
  grid-row-gap: .75em;
  grid-auto-rows: 1fr;
  align-items: center
  justify-content: center;
  padding-bottom: .75em;
}
.address-info img {
max-width: 80%;
}
.address-info p {
max-width: 100%;
}
.address-info p, .address-info img {
  align-self: center;

}
hr {
  border: 1.5px solid var(--support-lt-peach);
}
.social-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
  padding: 2em 1em 0;
}

/*Footer Styles*/
footer {
  font-size: 1rem;
  padding: 1.5em 0;
  margin: 0 auto;
  text-align: center;
}
footer p {
  color: var(--support-lt-peach);
}

@media only screen and (min-width: 420px) {
  header {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 680px) {
  /*html {
    font-size: 21.6px;
  }*/
  .sm-screen-text {
    display: none;
  }
  .med-screen-text {
    display: block;
  }
  .lg-screen-text {
    display: none;
  }

/*MQ Brand Styles TABLET*/
  .brand-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    }
  .brand-images img {
    height: 100%;
    margin: 1em 0;
  }
  .b-img-4 {
    display: block;
  }

/*MQ Sign Up Styles TABLET*/
    .sign-up {
    }
  form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3%;
      grid-template-areas:
        "firstname  lastname"
        "email     email"
        "submit submit"
        "notice notice";
  }
  #submit, #email {
      grid-column: 1 / 3;
  }
  #submit {
    grid-area: submit;
  }
  input[type="submit"] {
    width: 70%;
    max-width: 450px;
  }

  /*MQ Products and Services Styles TABLET*/
  .products-services{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "menu products" "community community";
    /*grid-row-gap: 8em;*/
    grid-column-gap: 12%;
    font-size: .5rem;
  }
/*  .menu, .products {
    max-width: 86%;
    margin: 0;
    justify-content: center;
  }*/
  .community {
    width: 45%;
    justify-self: center;
  }
  .products-services img {
    /*width: 200px;
    padding: 0 4em 2em;*/
  }


  /*MQ Social Proof TABLET*/

  .social-examples {

    margin-top: -1em;
    font-size: .85rem;
  }
  .person-1 {
    margin-bottom: 2em;
  }
  .person-2 {
    display: block;
  }
  .quote-text h4 {
  }

  .quote-text {
  font-size: 20px;
  }
  .address-info img {
    max-width:
  }
  .address-info p {
  }
  footer {
  }
}

/*  **Desktop Media Query**  */
@media only screen and (min-width: 1040px) {
  html {
    font-size: 21.6px;
  }
  .sm-screen-text {
    display: none;
  }
  .med-screen-text {
    display: none;
  }
  .lg-screen-text {
    display: block;
  }
  header img {
    width: 60%;
  }
  /*MQ Brand Styles DESKTOP*/
    .brand-images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1.5em;
    }
    .brand-images img {
      margin: 1.5em 0;
    }
  .b-img-2, .b-img-3 {
    display: block;
        object-fit: contain;
  }
  .b-img-4 {
    display: none;
  }
  input[type="submit"] {
    max-width: 60%;
  }

  /*MQ Products and Services Styles DESKTOP*/
  .menu, .products, .community {
    width: 100%;
  }
  .products-services{
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "menu products community";
    grid-column-gap: 8%;
    font-size: 1rem;
  }
  .products-services img {
    height: auto;
    padding-bottom: 2em;
}
  .products-services p {
    line-height: 1.4;
    text-align: left
  }


}
@media only screen and (min-width: 1200px){
  /*MQ DESKTOP Social Proof*/
.social-examples {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.people {
  width: 48%;
  max-width: 100%;
  height: 275px;
}
}
@media only screen and (min-width: 1350px) {
  html {
    font-size: 27.2px;
  }
  header, .sign-up, .products-services, .social-proof, .contact {
    padding: 2em 7%;
  }
  .social-proof {
    font-size: 1rem;
  }


}
@media only screen and (min-width: 320px){
    html {
      font-size: 16px;
    }
    .people img {
      display: block;
    }
  }
