
:root {
  --main-aqua: #3fbcc3;
  --support-dk-orange: #f26a42;
  --support-lt-peach: #fbb474;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 1vw;
   /*set the root with a flex size that will make calcs easier*/
}
.page-container {
  width: 100vw;
  margin: 0 auto;
}

h1, h2 {
  font-family: "roboto-slab", Baskerville, serif;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
h1 {
  font-size: 12em;
  color: var(--support-dk-orange);
  margin-bottom: .889em;
}
h2 {
  font-size: 9.5rem;
  margin-bottom: 2.5rem;
}

h3, h4{
  font-family: "khula", verdana, sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 6rem;
}
h3 {
  font-size: 8rem;
  text-transform: uppercase;
  color: var(--support-dk-orange);
  margin: 2rem 0;
}
h4 {
  font-size: 4.8rem;
}
p, .newsletter label {
  font-family: "khula", verdana, sans-serif;
  font-size: 4.8rem;
  font-weight: 400;
  color: var(--support-dk-orange);
  line-height: 1.2;
}
.med-screen-text {
  display: none;
}
.lg-screen-text {
  display: none;
}
.sm-screen-text {
  display: block;
}
/*main header styles*/
header {
  padding: 16em 8%;
  margin: 0 auto;
  text-align: center;
  background-image: url("../images/bgHBPattern.jpg");
  background-size: cover;
}
.header-container {
  font-size: 1rem;
}
header img {
  width: 65%;
  max-width: 275px;
  padding-bottom: 12em;
}
.bold {
  font-weight: 700;
}
.no-break {
  white-space: nowrap;
}
header p {
  font-size: 6.933em;
  margin-bottom: 1.111em;
}
header p:nth-last-of-type(1) {
  margin: 0;
}
/*Brand Images Styles*/
.brand-images {
  font-size: 1rem;
}
.brand-images img {
  width: 100%;
  margin: 6.933em 0;
}
.b-img-2, .b-img-3, .b-img-4 {
  display: none;
}
/*Sign Up Section Styles*/

.sign-up {
  background-color: var(--main-aqua);
  color: #fff;
  font-size: 1rem;
  padding: 10em 5%;
}
.cta-wrapper {
  margin: 0 auto;
}
input {
  max-height: 90px;
}
.input-field {
  padding-top: 2em;
}
#input-1 {
  grid-area: firstname;
}
#input-2 {
  grid-area: lastname;
}
#input-3 {
  grid-area: email;
}
#submit {
  grid-area: submit;
  align-self: center;
}
#notice {
  grid-area: notice;
}
form {
  margin: auto;
  display: grid;
  grid-template-areas:
    "firstname"
    "lastname"
    "email"
    "submit"
    "notice";
}
.newsletter label {
  font-size: 4.5em;
  font-weight: 600;
  color: #cff0f2;
  margin-top: 5em;
}

input[type="text"] {
  box-sizing: border-box;
  font-size: 8.533em;
  background-color: #fff;
  width: 100%;
  margin: 0 auto .85em auto;
  padding: .2em 5%;
}

input[type="submit"]{
  width: 100%;
  border-radius: 12px;
  background-color: var(--support-lt-peach);
  box-shadow: inset 0 0 36px #fdd4b0, 0 8px 6px -6px #888888;
  color: #fff;
  font-size: 4.5em;
  padding: .85em .25em;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1em auto;
}
.sign-up p {
  color: #fff;
  font-size: 3.5em;
  text-align: center;
}
@media only screen and (min-width: 680px) {
/*MQ Header Styles TABLET*/

  header {
    padding: 10.662em 12.5%;
  }
  header img {
    max-width: 1200px;
  }
/*MQ Brand Styles TABLET*/
  .brand-images {
    font-size: .766em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3.5%;
    }
  .brand-images img {
    height: 100%;
  }
  .b-img-4 {
    display: block;
  }
/*MQ Sign Up Styles TABLET*/
    .sign-up {
      padding-bottom: 7.5%;
      font-size: .662rem;
    }
    .sign-up h4 {
      font-size: 5.331em;
    }

  form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3%;
      grid-template-areas:
        "firstname  lastname"
        "email     email"
        "submit submit"
        "notice notice";
  }
  #submit, #email {
      grid-column: 1 / 3;
  }
  #submit {
    grid-area: submit;
  }
}
/*Products and Services Styles*/
.menu, .products, .community {
  max-width: 90%;
  height: auto;
  margin: 0 auto;
}
.menu {
  grid-area: menu;
}
.products {
  grid-area: products;
}
.community {
  grid-area: community;
}
.products-services{
  padding: 10% 13%;
  margin: 0 auto;
  font-size: 1.75rem;
  display: grid;
  grid-template-areas: "menu" "products" "community";
}
.products-services img {
  display: block;
  width: 40%;
  padding: 6em 4em 2em;
  margin: 0 auto;
}
.products-services p {
  color: #707070;
  text-align: center;
}

/*Social Proof Styles*/
.social-proof {
  background-color: var(--support-lt-peach);
  color: #fff;
  font-size: 2rem;
  padding: 10% 0;
}
.person-1, .person-2 {
  width: 100%;
  background-color: #fdddc0;
  box-shadow: inset 0 0 15px #9e9e9e40;
}
.person-2 {
  display: none;
}
/*display:block; on tablet and above*/

.quote-image {
  width: 75%;
  float: left;
  shape-outside: polygon(0% 0%, 110% 0%, 0% 110%);
}
.quote-text {
padding: 6%;
padding-top: 10em;
}
.quote-text p, .quote-text h4 {
  color: #707070;
}
.quote-text p {
  font-size: 2em;
  line-height: 1.4;
}


/*Contact Styles*/
.contact {
  padding: 10%;
  font-size: 1.75rem;
  background-image: url("../images/bgHBPattern.jpg");
  background-size: cover;
  color: var(--main-aqua);
}
.contact a, .contact p {
  color: var(--main-aqua);
}
.contact h2 {
  font-size: 12rem;
}
.contact-wrapper {
  max-width: 475px;
  margin: 0 auto;
}
.emp-text {
  font-weight: 700;
}
.address-info {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 5%;
  grid-row-gap: 2em;
  grid-auto-rows: 1fr;

  align-items: center;
  padding-bottom: 10%;
}
hr {
  border: 1.5px solid var(--support-lt-peach);
}
.social-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10em;
  margin-top: 8em;
}

/*Footer Styles*/
footer {
  font-size: 1rem;
  padding: 6em 0;
  margin: 0 auto;
  text-align: center;
}

/*  **Tablet Media Query**  */
@media only screen and (min-width: 680px) {
    .sm-screen-text {
      display: none;
    }
    .med-screen-text {
      display: block;
    }
    .lg-screen-text {
      display: none;
    }




  /*MQ Products and Services Styles TABLET*/
  .products-services{
    padding: 10% 8%;
    font-size: 1.85rem;
    grid-template-columns: 47% 47%;
    grid-template-areas: "menu products" "community community";
    grid-row-gap: 8em;
    grid-column-gap: 6%;
  }
  .menu, .products {
    max-width: 86%;
    margin: 0;
    justify-content: center;
  }
  .community {
    max-width: 47%;
  }
  .products-services img {
    width: 200px;
    padding: 0 4em 2em;
  }

  /*MQ Social Proof TABLET*/
  .social-proof {
    font-size: 2.65rem;
  }
  .social-examples {
    display: flex;
    flex-direction: column;
    padding: 5% 8%;
  }
  .person-1 {
    margin-bottom: 4em;
  }
  .person-2 {
    display: block;
  }
  .quote-text h4 {
    font-size: 2.65em;
  }
  .quote-image {
    width: 50%;
  }
  .quote-text {
  padding: 6%;
  padding-top: 4em;
  }
  footer {
    font-size: 1.5em;
  }
}

/*  **Desktop Media Query**  */
@media only screen and (min-width: 1024px) {
  .sm-screen-text {
    display: none;
  }
  .med-screen-text {
    display: none;
  }
  .lg-screen-text {
    display: block;
  }
  /*MQ Brand Styles DESKTOP*/
    .brand-images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 4em;

    }
  .b-img-2, .b-img-3 {
    display: block;
        object-fit: contain;
  }
  .b-img-4 {
    display: none;
  }
  /*MQ Products and Services Styles DESKTOP*/
  .products-services{
    grid-template-columns: repeat(3, 30%);
    grid-template-areas: "menu products community";
    justify-content: space-around;
  }

  form {
    width: 922px;
    font-size: 7px;
  }
}
